body {
    background-image:url(./cat.gif);
    background-repeat: repeat;
    background-size: 100px;
    
}

#pervert {
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: helvetica;
    Background-color: rgb(9, 255, 0);
    margin-bottom: 5px;
    width: fit-content;
    margin-left: 290px;
    color: black;
    margin-top: 5px;
}
#troll{
    width: 700px;
    margin-left: 300px;
    margin-bottom: 0px;
    border-style: solid;
    border-color: rgb(9, 255, 0);
}